* {
    font-family: "Albert Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.banner-ad.block-1 {
    width: 75%;
    flex-shrink: 0;
}
.banner-ad.block-3 {
    width: 25%;
}

.banner-ad {
    min-height: 300px;
    position: relative;
}

.camion-img {
    position: absolute;
    bottom: 100px;
    right: 10px;
    max-width: 200px;
    z-index: 10;
}

.filter-btn, #infoSuper
{
    background-color: #fcfdaf;
}

.filter-btn:hover
{
    background-color: #efd780;
}

#map{
    height: 400px;
    width: 100%;
}

#transporte{
    background-color: #dba0598f;
    border: 1px solid #dba0598f;
    border-radius: 10px;
    box-shadow: 0 0 10px #dba0598f;
}
