/*
  Nombre del archivo: perfilSupermercado.css
  Autor: Grupo 5
  Descripción: Estilo del perfil de los supermercados
  Fecha de creación: 2/04/2025
*/

.banner-ad {
    min-height: 300px;
    position: relative;
}

.camion-img {
    position: absolute;
    bottom: 100px;
    right: 10px;
    max-width: 200px;
    z-index: 10;
}

.filter-btn
{
    background-color: #fcfdaf;
}

.filter-btn:hover
{
    background-color: #efd780;
}

#map{
    height: 400px;
}
