/*
  Nombre del archivo: styles.css
  Autor: Grupo 5
  Descripción: Estilos principales comunes para el sitio web
  Fecha de creación: 27/03/2025
*/
/*Font Incluido para todas las paginas html*/
* {
    font-family: "Albert Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* Navbar principal */
.primary-navbar {
    background-color: #dba159;
}

.primary-navbar span {
    color: #fcfdaf;
}

#search-icon {
    background-color: #fcfdaf;
    border-color: orange;
    color: black;
}

.primary-navbar div button,
#btnUser-Login,
.primary-navbar div .dropdown-menu,
.primary-navbar div .dropdown-item{
    background-color: #fcfdaf;
}

.primary-navbar div button:hover,
#btnUser-Login:hover,
.primary-navbar div .dropdown-item:hover{
    background-color: #efd780;
}


.nav-item .nav-link {
    color: #333;
    font-size: medium;
    transition: color 0.3s ease, border-bottom 0.3s ease;
    border-bottom: 1px solid transparent;
}

.nav-item .nav-link:hover {
    color: #fcfdaf;
    /* or any highlight color */
    border-bottom: 1px solid #fcfdaf;
    transition: color 0.3s ease, border-bottom 0.3s ease;
    text-decoration: none;
}

/*.nav-item .nav-link:active {*/
/*    color: #fcfdaf;*/
/*    !* or any highlight color *!*/
/*    border-bottom: 1px solid #fcfdaf;*/
/*    text-decoration: none;*/
/*}*/

/* Iconos de redes sociales del footer */
.icono-red-footer {
    color: #fcfdaf;
}

.icono-red-footer:hover {
    color: #efd780;
}

/* en tu archivo styles.css o en un <style> global */
.offcanvas.offcanvas-end {
    width: 500px;
}

/* opcionalmente controla también el ancho máximo en móviles */
@media (max-width: 576px) {
    .offcanvas.offcanvas-end {
        width: 100%;  /* ocupa toda la pantalla en XS */
    }
}