<!DOCTYPE html>
<html lang="es" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:insert="plantillas/header :: head('Carrito')">
</head>
<body>

<!-- NAVBAR -->
<section id="navbar-section">
    <div th:insert="~{plantillas/navbar :: navbar}"></div>
</section>

<section>
<!--  CARRITO  -->
    <div class="offcanvas offcanvas-end" id="cartSidebar" aria-labelledby="cartSidebarLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="cartSidebarLabel">Tu Lista</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Cerrar"></button>
        </div>
        <div class="offcanvas-body">
            <div id="cart-items">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead class="table-dark">
                        <tr>
                            <th>Producto</th>
                            <th>Precio Unitario</th>
                            <th>Cantidad Comprada</th>
                            <th></th>
                            <th>Precio Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="item : ${itemsListaAbierta}">
                            <td th:text="${item.getProducto().getName()}"></td>
                            <td th:text="${item.getProducto().getPrice()}"></td>
                            <td th:text="${item.getCantidadComprada()}"></td>
                            <td>
                                <button class="btn btn-danger">-</button>
                                <button class="btn btn-primary">+</button>
                            </td>
                            <td th:text="${T(java.lang.String).format('%.2f €', item.cantidadComprada * item.producto.price)}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <hr>
            <p><strong>Total:</strong> <span id="total-price" th:text="${T(java.lang.String).format('%.2f €', listaAbierta.costeTotal)}">0.00€</span></p>
            <form th:action="@{/listas/listaCerrada}" method="post" class="p-1">
                <button type="submit" class="btn btn-success">Cerrar Lista</button>
            </form>
            <button class="btn btn-success w-100">Generar PDF</button>
<!--            <button class="btn btn-success w-100" onclick="generatePdf()">Generar PDF</button>-->
        </div>
    </div>


    <div class="container p-3" th:each="item : ${itemsListaAbierta}">
        <div class="row p-1">
            <div class="card text-center p-2 h-100 d-flex flex-column">
                <div class="row">
                    <div class="col-md-4">
                        <img th:src="${item.producto.url}" class="img-fluid" th:alt="${item.producto.name}" />
                    </div>
                    <div class="col-md-8">
                        <div class="card-body d-flex flex-column justify-content-between">
                            <h5 class="card-title" th:text="${item.producto.name}">Nombre de producto</h5>
                            <th:block th:each="supermercado : ${supermercados}">
                                <th:block th:if="${item.producto.supermarket.toLowerCase().contains(supermercado.nombre.toLowerCase())}">
                                    <img th:src="${supermercado.logoURL}" alt="Logo"  style="height: 40px; width: 40px; align-self: center;">
                                </th:block>
                            </th:block>
                            <p class="fw-bold" th:text="'Precio Unidad: '
                            + ${T(java.lang.String).format('%.2f €', item.producto.price)}">Precio €</p>
                            <p class="fw-bold" th:text="'Cantidad: ' + ${item.cantidadComprada}">Cantidad Item</p>
                            <p>
                                <button class="btn btn-danger">-</button>
                                <button class="btn btn-primary">+</button>
                            </p>
                            <p class="fw-bold" th:text="'Precio Total: '
                            + ${T(java.lang.String).format('%.2f €', item.cantidadComprada * item.producto.price)}">Cantidad Item</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container p-3">
        <h3 th:text="'Precio Total de la Lista: ' + ${T(java.lang.String).format('%.2f €', listaAbierta.costeTotal)}"></h3>
        <form th:action="@{/listas/listaCerrada}" method="post" class="mt-2">
            <button type="submit" class="btn btn-success">Cerrar Lista</button>
        </form>
    </div>

</section>

<section id="footer-section">
    <div th:insert="~{plantillas/footer :: footer}"></div>
</section>

<!-- Bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

<th:block th:if="${itemsListaAbierta.size() > 0 and !itemsListaAbierta.isEmpty()}">
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const cartSidebar = new bootstrap.Offcanvas(document.getElementById('cartSidebar'));
            cartSidebar.show();
        });
    </script>
</th:block>

</body>
</html>